@charset "utf-8";
/* リセットCSS */
@import "https://unpkg.com/ress/dist/ress.min.css";

/*************************
common
*************************/
* {
    box-sizing: border-box;
}

body {
    background: #eee;
    color: #212121;
}

main {
    width: 1000px;
    margin: 80px auto;
    padding: 80px;
    background: #fff;
}
/*************************
見出し
*************************/
h2 {
    font-size: 24px;
    padding: 16px 0;
    border-top: 2px solid #212121;
    border-bottom: 2px solid #212121;
    text-align: center;
    
}

#profile h2 {
    background: #BEE1FF;
    margin-bottom: 20px;
}
#favorite h2{
    background: #C2CFFF;
    margin-bottom: 20px;
}


h3 {
    font-size: 24px;
    padding: 4px 0 4px 16px;
    border-left: 8px solid #212121;
    margin-bottom: 20px;
}
/*************************
* コンテンツ
*************************/
.contents-area {
    display: flex;
    gap: 40px;
}
.left-area,
.right-area {
    width: 400px;
}

.contents {
    padding-left: 24px;
}
/*************************
* section#Profile
*************************/

#profile {
    margin-bottom:80px;
}
.my-img {
    display: block;
}

#profile img {
    display: block;
    margin: auto;
}

.my-name {
    font-size: 24px;
    text-align: center;
    margin: 40px 0;
}

.my-name rt {
    margin-bottom: 4px;
}

.my-intro {
    width: 560px;
    margin: auto;
}
/*************************
* sectin#Favorite
*************************/
img {
    margin: 20px 0 20px;
    max-width:100%;
}


